nav {
	width: 100vw;
	background-color: white;
	position: relative;
	z-index: 0;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

#nav-content {
	width: var(--content-width);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

nav a {
	text-decoration: none;
	color: black;
}

nav ul {
	list-style: none;
}

#nav-items {
	white-space: nowrap;
	font-size: 1.2em;
}

.nav-label {
	transition: color 100ms, background-color 100ms;
	padding: 0.5em 0.7em;
	display: inline-block;
}

.nav-item-with-menu {
	cursor: default;
}

.nav-label:hover {
	color: #d53136;
}

.nav-menu {
	font-size: 0.9em;
	min-width: 12rem;
}

.nav-menu .nav-label {
	width: 100%;
	padding: 0.7em 1.5em;
	display: block;
}

#nav-hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5em;
	height: 3em;
	width: 3.5em;
	flex-shrink: 0;
}

.hamburger-bar {
	height: 4px;
	border-radius: 4px;
	background-color: black;
}

@media screen and (max-width: 1100px) {
	#nav-hamburger { 
		display: flex;
	}
	#nav-items {
		display: block;
		visibility: hidden;
		max-height: 0;
		width: var(--content-width);
		font-size: 1.25em;
		transition: all 200ms;
		overflow: hidden;
	}
	#nav-items.visible {
		visibility: visible;
		max-height: 30em;
	}
	#nav-items li {
		display: block;
		border-top: 1px solid #eee;
	}
	.nav-label {
		width: 100%;
	}
	.nav-item-with-menu>.nav-label {
		color: unset;
	}
	.nav-menu .nav-label {
		padding-left: 2em;
	}
	.nav-sp-header {
		margin-left: auto;
		margin-right: 1em;
	}
}

@media not screen and (max-width: 1100px) {
	.nav-item {
		--nav-menu-color: #fff;
		--nav-menu-rounding: 0.7rem;
		display: inline-block;
		border-radius: var(--nav-menu-rounding) var(--nav-menu-rounding) 0 0;
	}
	
	.nav-item-with-menu:hover {
		box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);
		background-color: var(--nav-menu-color);
	}
	
	.nav-item-with-menu:hover>.nav-label {
		border-bottom: 1px solid #eee;
	}
	
	.nav-menu::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		border-radius: 0 var(--nav-menu-rounding) var(--nav-menu-rounding) var(--nav-menu-rounding);
		box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);
	}
	
	.nav-menu {
		position: absolute;
		visibility: hidden;
		background-color: var(--nav-menu-color);
		opacity: 0;
		border-radius: 0 var(--nav-menu-rounding) var(--nav-menu-rounding) var(--nav-menu-rounding);
	}
	
	.nav-item:hover .nav-menu {
		opacity: 1;
		visibility: visible;
	}
	
	.nav-menu li:not(:last-child) {
		border-bottom: 1px solid #eee;
	}
}

#background {
	height: var(--bg-height);
	width: 100vw;
}

#background>img {
	height: var(--bg-height);
	width: 100vw;
	object-fit: cover;
	position: absolute;
	z-index: -5;
}

#background-gradient {
	position: absolute;
	z-index: -4;
	height: var(--bg-height);
	width: 100vw;
	background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
}

#sm-icons-wrapper {
	width: var(--content-width);
	margin: 1em auto;
	padding: 0 0.5rem;
	text-align: right;
}

.sm-icon {
	background-color: white;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.5);
	transition: background-color 200ms;
	margin-left: 0.6em;
}

.sm-icon:hover {
	background-color: #eee;
}

.sm-icon img {
	width: 1.6rem;
	height: 1.6rem;
}

.nav-sp {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}
.nav-sp .sp-text-logo {
	width: 8rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
}
.nav-sp img, .nav-sp .sp-text-logo {
	height: 2.5rem;
	margin-top: 0.6rem;
}
.nav-sp img:not(:last-child) {
	margin-right: 0.5rem;
}

.logo {
	height: 6em;
	font-size: 1.15rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
}
.logo img {
	height: 4em;
}
.logo-text {
	margin-left: 1em;
	line-height: 1.1em;
	white-space: nowrap;
}
.logo-text div:not(:last-child) {
	margin-bottom: 0.25em;
}

.nav-sp-text {
	font-weight: 300;
}

#nav-items .nav-sp-expand {
	display: none;
	padding: 1.3rem 0;
	text-align: center;
}
.nav-sp-expand .nav-sp-text {
	font-size: 1.3em;
	margin-right: 0.5em;
}
.nav-sp-expand img {
	height: 2.5rem;
}

@media (max-width: 350px) {
	.logo-text {
		display: none;
	}
}
@media (max-width: 600px) {
	.logo {
		font-size: 1rem;
	}
	#nav-items .nav-sp-expand {
		display: block;
	}
	.nav-sp-header {
		display: none;
	}
}
