body {
	--content-width: 90vw;
}

#sch-wrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 0.75rem;
}

.sch-day {
	flex-grow: 1;
	text-align: center;
	min-width: 15rem;
}

.sch-day-bottom {
	height: 4rem;
	background: linear-gradient(#ffffff00, #ffffffff);
	z-index: 1;
	display: block;
	width: 100%;
	position: relative;
}

.sch-day-compressed {
	flex-grow: 0;
	min-width: 7rem;
}

.sch-events-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.sch-event {
	position: absolute;
	background-color: #f0f0f0cc;
	border: 1px solid #00000033;
	font-size: 0.9rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
}

.sch-event[data-color=blue] {
	background-color: #b5e3f5cc;
}
.sch-event[data-color=red] {
	background-color: #fbd1d3cc;
}
.sch-event[data-color=yellow] {
	background-color: #fae9b4cc;
}
.sch-event[data-color=green] {
	background-color: #b7e2c6cc;
}

.sch-event-top {
	display: flex;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	padding: 0 0.2rem;
}

.sch-event-desc {
	flex-grow: 1;
	text-align: left;
	margin: 0 0.6rem;
}

.sch-event-vspace {
	max-height: 0.5rem;
	flex-grow: 1;
}

.sch-event-time {
	opacity: 0.7;
	text-align: left;
	font-family: sans-serif;
	font-size: 0.9em;
}

.sch-event-location {
	opacity: 0.8;
	text-align: right;
	margin-left: 0.5rem;
}

.sch-event[data-for="c"] {
	width: 58%;
}
.sch-event[data-for="lc"] {
	width: 100%;
}
.sch-event[data-for="l"] {
	width: 40%;
	margin-left: 60%;
}

.sch-day-subheader {
	display: flex;
	flex-direction: row;
	font-size: 0.9rem;
	font-weight: 300;
}
.sch-day-subheader>* {
	flex-grow: 1;
}

.sch-day-header {
	height: 3.5rem;
}

#sch-dividers-wrapper {
	margin-top: 3.5rem;
	width: 2rem;
	float: left;
	padding-right: 0.5rem;
}

#sch-dividers {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.sch-divider::before {
	width: calc(var(--content-width) - 2 * var(--box-padding));
	content: '';
	position: absolute;
	border-top: #888 1px dashed;
}

.sch-divider-num {
	font-weight: 300;
	font-size: 0.9em;
	margin-top: -0.6em;
	line-height: 1em;
	background-color: white;
	width: 1.2em;
	text-align: right;
	padding-right: 0.2em;
	position: relative;
}

#sch-tabs {
	display: none;
	margin-bottom: 1rem;
}

.sch-tab {
	text-align: center;
	padding: 0.1rem 0.1rem 0.5rem 0.1rem;
	flex-grow: 1;
	margin: 0 0.1rem;
	background-color: #f8f8f8;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	transition: background-color 100ms;
}

.sch-tab:hover {
	background-color: #eee;
}

.sch-tab-current {
	border-bottom: 0.2rem solid #d53136;
	background-color: #fad0d2 !important;
}

.sch-tab-month {
	font-size: 0.7em;
}

@media (max-width: 500px) {
	#sch-tabs {
		display: flex;
	}
	.sch-day-header h4 {
		visibility: hidden;
	}
	.sch-day:not(.sch-day-current) {
		display: none;
	}
	.sch-day {
		width: 100%;
	}
}
