<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include nav.html %}
		<div class="content-align">
			<div id="main-title">
				<h1>European&nbsp;Girls' Olympiad&nbsp;in&nbsp;Informatics&nbsp;2023</h1>
				<p><img src="{{ '/assets/icons/datew.svg' | relative_url }}" class="icon">15 &ndash; 21 July 2023</p>
				<p><img src="{{ '/assets/icons/location.svg' | relative_url }}" class="icon">Lund, Sweden</p>
			</div>
			<div id="content-flex">
				<div class="content content-style">
					{{ content }}
					{% if site.posts.size > 0 %}
					<h2 style="margin-top: 2rem;">News</h2>
					<div id="posts">
						{% for post in site.posts %}
						<div class="post">
							<h3 class="post-title">{{ post.title }}</h3>
							<div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
							<div class="post-content">{{ post.content }}</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
				<div id="sp-outer" class="content content-style">
					{% for level in site.data.sponsors %}
					<h2>{{ level.title }}</h2>
					<div class="sp-level sp-level-{{ level.level }}">
						{% for sponsor in level.sponsors %}
							{% if sponsor.url %}
								<a href="{{ sponsor.url }}" target="_blank">
							{% endif %}
							{% if sponsor.logo %}
								<img class="sp-logo" src="{{ '/assets/images/sponsors/' | append: sponsor.logo | relative_url }}" alt="{{ sponsor.name }}">
							{% else %}
								<div class="sp-logo sp-text-logo">{{ sponsor.name }}</div>
							{% endif %}
							{% if sponsor.url %}
								</a>
							{% endif %}
						{% endfor %}
					</div>
					{% if level.level != 'supporting' %}
						<div class="hr"></div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
